<footer>
    <div class="container">
      <div class="row center">
        <!--      Section 1     -->
        <div class="col-xl-3 col-6 p-3 my-4">
          <div class="row text-small text-white text-bold">
            My Motto
          </div>
          <div class="row text-vvsmall text-grey mt-3 pr-5">
            I would always explore and look for ideas and innovation in the field, thereby looking for the optimal solution to all problems.
          </div>
        </div>

        <!--      Section 2     -->
        <div class="col-xl-2 col-6 p-3 my-4">
          <div class="row text-vsmall text-white text-bold">
            Explore
          </div>
          <div class="row text-vvsmall mt-2">
            <a href="#" @click="topClick" class="text-grey">Home</a>
          </div>
          <div class="row text-vvsmall mt-2">
            <a href="#" @click="topClick" class="text-grey">Honor</a>
          </div>
          <div class="row text-vvsmall mt-2">
            <a href="#" @click="topClick" class="text-grey">About me</a>
          </div>
          <div class="row text-vvsmall mt-2">
            <a href="#" class="text-grey">Contact</a>
          </div>
        </div>

        <!--    Section 3     -->
        <div class="col-xl-3 col-6 p-3 my-4">
          <!--    Sub-Section 1    -->
          <div class="row text-vsmall text-white text-bold">
            Visit
          </div>
          <div class="row text-vvsmall mt-2">
            <span class="text-grey">Currently in Royapettah,</span>
          </div>
          <div class="row text-vvsmall mt-2">
            <span class="text-grey">Chennai-600014.</span>
          </div>
          <div class="row text-vvsmall mt-2">
            <span class="text-grey">Tamil Nadu, India.</span>
          </div>
          <!--    Sub-Section 2    -->
          <div class="row text-vsmall text-white text-bold mt-4">
            Contact Info
          </div>
          <div class="row text-vvsmall mt-2">
            <a href="#" class="text-grey">rajkarthik967@gmail.com</a>
          </div>
          <div class="row text-vvsmall mt-2">
            <a href="#" class="text-grey">(or)</a>
          </div>            
          <div class="row text-vvsmall mt-2">
            <a href="#" class="text-grey">rajkarthik96@gmail.com</a>
          </div>
        </div>

        <!--    Section 4     -->
        <div class="col-xl-2 col-6 p-3 my-4">
          <div class="row text-vsmall text-white text-bold">
            Follow
          </div>
          <div class="row text-vvsmall mt-2">
            <a href="https://www.instagram.com/karthikraj540/" target="_blank" class="text-grey"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
          </div>
          <div class="row text-vvsmall mt-2">
            <a href="https://github.com/karthik540" target="_blank" class="text-grey"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
          </div>
          <div class="row text-vvsmall mt-2">
            <a href="https://www.youtube.com/channel/UCvUdwygMCOicBoBgze-nbAA?view_as=subscriber" target="_blank" class="text-grey"><i class="fa fa-youtube-play" aria-hidden="true"></i> Youtube</a>
          </div>
          <div class="row text-vvsmall mt-2">
            <a href="https://www.linkedin.com/in/karthik-r-92626817b/" target="_blank" class="text-grey"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
          </div>
          <div class="row text-vvsmall mt-2">
            <a href="https://www.facebook.com/profile.php?id=100006697306275&ref=bookmarks" target="_blank" class="text-grey"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
          </div>
        </div>

        <!--    Section 5     -->
        <div class="col-xl-2 col-12 p-3 my-4 text-center">
          <button class="btn btn-outline-primary" @click="topClick" style="background-color: #022144;">Back to top</button>
        </div>

      </div>

      <div class="row">
        <!--      Copyright section     -->
          <div class="text-vvsmall text-grey my-4">
              &copy; Karthik, All Rights Reserved.
          </div>
      </div>
    </div>
  </footer>

